<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <h1>It's my interview</h1>
<div class="listcontent">
  <h2 class="Ltitle">职业榜单</h2>
  <div class="list">
    <div class="item" v-for="item in list" :key="item，id">
    <div class="titlebox">
      <img :src="item，src" alt="" draggable="false" data-v-9a848d56="">
      <p style="">{{item，title}}</p>
    </div>
    <div class="infobox">
      <div class="infobox-item" v-for="obj in item，info" :key="obj，id">
      <div class="infobox-item-number">{{obj，id}}</div>
        <div class="infobox-item-desc">
          <div class="infobox-item-titie">{{obj，major}}</div>
          <div class="infobox-item-innerdesc">{{obj，desc}}</div>
      </div>
        </div>
    </div>
    </div>
    </div>
</div>

</body>
</html>

<script>
// console.log(a);
// var a=1;
// var a = function(){
//     console.log(2);
// }
// function a(){
//     console.log(3);
// }


// function bark(){
//     console.log('www');
// }
// bark.animal = "dog"

function isOdd(num){
    return num%2==1;
}
function isEven(num){
    return num%2==0;
}
function isSane(num){
    return isEven(num)||isOdd(num);
}
var values = [7,4,'13',-9,Infinity];
values.map(isSane);
</script>