<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <input v-model="message" type="text" name="" id="">
    <div>message:{{message}}</div>

    {{checkedNames}}
    <input type="checkbox" value="jack" name="" id="" v-model="checkedNames">
    <label for="jack">jack</label>
    <input type="checkbox" value="tom" name="" id="" v-model="checkedNames">
    <label for="tom">tom</label>
    <input type="checkbox" value="mike" v-model="checkedNames">
    <label for="mike">mike</label>
    <br/>
    {{picked}}
    <input type="radio" name="" id="" value="one" v-model="picked">
    <label for="one">one</label>
    <input type="radio" name="" id="" value="two" v-model="picked">
    <label for="two">two</label> 
  </div>
  <script>
    var app = new Vue({
      el:'#app',
      data:{
        message:'',
        checkedNames:[],
        picked:''
      }
    })
  </script>
</body>
</html>